.navbar{
    position: fixed;
    background-color: rgb(71, 62, 62);
    height: 170px;
    width: 2000px;
    margin-top: -10px;
    margin-left: -10px;
    box-shadow: 20px;
}
#logo{
    transition: 0.5s;
    width: 128px;
    height: 128px;
    margin-top: 0px;
    margin-left: 20px;
}
#logo:hover{
    transform: scale(1.2);
}
#heading{
    font-size: 40px;
    margin-left: 50px;
}
.navbuttons{
    position: inherit;
    margin-left: 800px;

}
.button-nav-main{
    transition: 0.5s;
    border: none;
    background-color: rgb(71, 62, 62);
    font-size: 15px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    size: 25px;
}
.button-nav-main:hover{
    background-color: rgb(70, 68, 68);
    size: 50px;
}
.button-nav-main:active{
    background-color: rgb(70, 68, 68);
}
#userimg{
    margin-left: 20px;
    height: 85px;
    width: 85px;
}